@use "@/src/styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(176, 172, 228);
  border: 2px solid black;
  margin: v.$margin-sm  auto;
  border: 1px solid black;
  width: 100%;
  max-width: 450px;
  padding: v.$padding-sm;
  border-radius: v.$border-radius-md;
}
.heading {
  font-size: v.$font-md;
  color: var(--color-violet);
  text-align: center;
}

// .field {
//   display: flex;
//   flex-direction: column;
//   gap:v.$gap-sm;
// }

.label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1.1rem;
}
.form-button {
  padding: v.$padding-sm;
  background: var(--color-violet);
  color: var(--color-white);
  border-radius: v.$border-radius-md;
  cursor: pointer;
  border: none;
  font-size: v.$font-sm;
  margin: 0.7rem;
}
.form-button:hover {
  color: var(--color-blue);
  background-color: var(--color-green);
}

.input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 1.4rem;
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  transition: 0.3s ease;
}
.form-links {
  margin: v.$margin-sm;
  font-size: v.$font-sm;
  text-align: center;
  

  a {
    color: var(--color-violet);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: var(--color-blue);
    }
  }
}