.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 20px;
  margin-top: 20px;
}

.heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  color:rgb(61, 1, 61);

}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1.4rem;
    padding:1.2rem;
    flex-direction: column;
    
}
.heading{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.4rem;
}

.btn{
    border:1px solid black;;
    border-radius: 1.4rem;
    padding:1.3rem;
    margin:1.3rem;
    font-size: 1.1rem;
    font-weight: bold;

    &:hover{
        background-color: rgb(19, 19, 102);
        color:white;
    }
}

